        /* Color Scheme */
        :root {
            --primary-color: #4CAF50;
            /* Green */
            --secondary-color: #0D4D00;
            /* Darker Green */
            --background-color: #F7F4EB;
            /* Light Beige */
            --text-color: #333;
            /* Dark Gray */
        }

        /* General Styles */
        body {
            margin: 0;
            font-family: 'Roboto', sans-serif;
            background-color: var(--background-color);
            color: var(--text-color);
            line-height: 1.6;
        }

        .top-bar {
            background-color: var(--primary-color);
            padding: 10px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            width: 98%;
            top: 0;
            left: 0;
            z-index: 3;
        }

        .top-bar img {
            height: 40px;
            /* Adjust height as needed */
            width: auto;
        }

        .top-bar a {
            color: white;
            text-decoration: none;
            padding: 10px;
        }

        .top-bar a:hover {
            background-color: var(--secondary-color);
            border-radius: 5px;
        }

        .additional-bar {
            background-color: #0D4D00;
            /* Green */
            color: white;
            text-align: center;
            padding: 10px 0;
            position: fixed;
            width: 100%;
            margin-top: 60px;
            z-index: 2;
        }

        .additional-bar a {
            color: white;
            text-decoration: none;
            padding: 10px;
        }


        /* Footer Styles */
        .footer {
            background-color: var(--primary-color);
            color: white;
            text-align: center;
            padding: 20px 0;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        /* Header Styles */
        .header-section {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 300px;
            /* Adjust as needed */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            text-align: center;
            animation: changeBackground 10s infinite;
            /* Change background every 10 seconds */
            position: relative;
            margin-top: 120px;  
            overflow: hidden;          
        }

        @keyframes changeBackground {
            0% {
                background-image: url('Images/topbackground1.jpg');
            }

            50% {
                background-image: url('Images/topbackground2.jpg');
            }

            100% {
                background-image: url('Images/topbackground1.jpg');
            }
        }

        .header-content {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 80%;
            z-index: 1;

        }

        .header-content h1 {
            font-size: 2.5em;
            margin-bottom: 10px;
        }

        .header-content p {
            font-size: 1.2em;
            max-width: 80%;
            margin: 0 auto;
        }



        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 20px;

            bottom: 0;
            width: 100%;
            margin-bottom: 20px;
        }

        /* Image and Text Section Styles */
        .image-text-section-container {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            flex-wrap: wrap;
        }

        .image-text-section {
            width: calc(25% - 20px);
            /* Adjust as needed */
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            /* Ensure border-radius applies properly */
            margin: 8px;
            transition: transform 0.3s ease-in-out;
            display: flex;
            flex-wrap: wrap;
        }

        .image-text-section:hover {
            transform: translateY(-5px);
        }

        .image-text-section img {
            width: 100%;
            height: auto;
            border-radius: 10px 10px 0 0;
            /* Apply border-radius only to top corners */
        }

        .image-text-section .text-content {
            padding: 20px;
        }

        .image-text-section h2 {
            font-size: 1.5em;
            margin-bottom: 10px;
            color: var(--primary-color);
        }

        .image-text-section p {
            font-size: 1.1em;
            margin-bottom: 20px;
        }

        .image-text-section button {
            width: 100%;
            padding: 10px 20px;
            font-size: 1.1em;
            background-color: var(--primary-color);
            border: none;
            color: white;
            border-radius: 0 0 10px 10px;
            /* Apply border-radius only to bottom corners */
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .image-text-section button:hover {
            background-color: var(--secondary-color);
        }

        /* Media Queries */
        @media (max-width: 768px) {
            .image-text-section {
                width: 100%;
            }

            .header-section {
                height: fit-content;
            }
        }